@model IEnumerable<BLL.Models.CompanyManagement.CompanyModel>
@{
    ViewBag.Title = "Список компаний";
}


<div class="row">
    <div class="col-md-12">
        <div class="d-flex mb-3 justify-content-between">
            <h2>@ViewBag.Title</h2>
            <form method="get" asp-action="Add">
                <button class="btn btn-success">Добавить</button>
            </form>
        </div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Количество участников</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Title</td>
                    <td>@e.Size</td>
                    <td>
                        <form method="get" asp-action="Edit" asp-route-id="@e.Id">
                            <button class="btn btn-info">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-route-id="@e.Id" asp-action="Delete">
                            <button class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>